body {
    margin: 0;
    font-family: Arial;
}
.header {
    background: #4fa3c7;
    padding: 40px;
    color: white;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: flex-end;
    background: gray;
    padding: 10px;
}
.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.container {
    display: flex;
}
.biodata {
    width: 30%;
    background: #8fc1c1;
    padding: 20px;
}
.pengalaman {
    width: 70%;
    background: #f2f2f2;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background: #8fc1c1;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
.footer {
    background: gray;
    text-align: center;
    padding: 10px;
}
