body {
    margin: 0;
    font-family: Arial;
}
header {
    background: #4fa3c7;
    padding: 40px;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    background: gray;
    padding: 10px;
}